.login-header {
  background-image: url("../../../src/assets/images/partner-banner.png");
  background-size: cover;

  margin-left: var(--bs-gutter-x, -0.75rem);
  margin-right: var(--bs-gutter-x, -0.75rem);
}